

  <div id="plausible-banner" tabindex="-1" class="hidden fixed bottom-0 right-0 z-50 flex justify-end w-full p-4 pb-8 border-b border-gray-200 dark:border-gray-600">
    <div class="flex items-center">
        
        <div class="relative bg-white shadow-lg shadow-black dark:bg-gray-600 rounded-lg text-sm text-gray-500 dark:text-white lg:mb-0">
            <div class="justify-between items-center p-5 lg:flex">
                <p class="mb-4">
                    
                </p>
                <div class="items-center space-y-4 sm:space-y-0 sm:space-x-4 sm:flex lg:pl-10 shrink-0 px-2">
                    We use Plausible Analytics, a privacy first web analytics tool that does not use cookies.
                    <span class="text-sm px-1"><a class="cursor-pointer font-sm text-gray-900 hover:underline dark:text-white" onclick="disablePlausible();">Disable Plausible</a></span>
                    <span class="text-sm px-1"><a href="/cookies/" class="font-sm text-gray-900 hover:underline dark:text-white">Cookie Policy</a></span>
                    <button id="close-modal" onclick="enablePlausible();" type="button" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-primary-700 sm:w-auto hover:bg-primary-800 dark:bg-primary-600 dark:hover:bg-primary-700 cursor-pointer">OK</button>
                </div>
            </div>
        </div>

    </div>
</div>