@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.6s ease-out forwards;
  }

  .word-slider div {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    white-space: nowrap;
  }

  .word-slider div.is-visible {
    opacity: 1;
    position: relative;
  }

  .word-slider {
    display: inline-block;
    position: relative;
    height: 2.5rem; /* Adjust height as needed */
  }