{{ define "main" }}
<section class="px-4 pt-20 pb-4 dark:bg-gray-900">
  <div class="format dark:format-invert w-full mx-auto text-center">
    <div class="pb-2 kanit-bold text-5xl text-white">{{ .Title }}</div>
    <span class="kanit-regular-italic text-md">Updated on {{ .Date.Format .Site.Params.format.date }}.</span>
  </div>
</section>
<section class="container mx-auto px-4 py-8">
  
  <section class="format lg:format-lg dark:format-invert mx-auto">
    {{ .Content }}
  </section>
</section>
{{ end }}