<section class="text-center">
    <h1 class="text-4xl font-bold animate-fade-in-up delay-400">
        <span class="block mb-2">The Bearded Tek</span>
        <span class="word-slider text-xl font-semibold">
        <b class="is-visible">ON-SITE SUPPORT</b>
        <b>REMOTE SUPPORT</b>
        <b>COMPUTERS</b>
        <b>PRINTERS</b>
        <b>NETWORKING</b>
        <b>SMART PHONES</b>
        <b>CAMERAS</b>
        <b>WEB DESIGN</b>
        <b>WEB HOSTING</b>
        </span>
    </h1>
</section>